
#map {
    height: 100%;
    width: 100%;
}

.fieldset {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    border: 1px solid #ccc;
    margin: 10px
}

.fieldset>legend {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    background-color: #fff;
    padding: 0 5px;
    width: max-content;
    border: 0 none
}

.list {
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

.list-items {
    padding: 5px 5px;
}

.list-items:hover {
    background-color: rgb(231, 255, 229);
    border-radius: 15px;
}